
@{
    ViewBag.Title = "Role";
}

<div class="col-md-6">
    <h3>Role</h3>
    <div class="list-group" style="padding-left:20px; margin-top:10px;background-color:burlywood">
        @Html.ActionLink("Role", "Index", "Role", null, new { @class = "list-group-item" })
    </div>
    <h3>User</h3>
    <div class="list-group" style="padding-left: 20px; margin-top: 10px; background-color: burlywood">
        @Html.ActionLink("User", "Index", "User", null, new { @class = "list-group-item" })
    </div>
    <h3>CommonLookUp</h3>
    <div class="list-group" style="padding-left: 20px; margin-top: 10px; background-color: burlywood">
        @Html.ActionLink("CommonLookUp", "Index", "CommonLookUp", null, new { @class = "list-group-item" })
    </div>
</div>