@using Kendo.Mvc.UI
@model IEnumerable<ITSupportSystem.Core1.ViewModel.PermissionViewModel>
@using ITSupportSystem.Core1.ViewModel

@{
    ViewBag.Title = "Index";
}

<div class="section">
    <div class="container">
        <div class="topTitleHead pb20">

        </div>
    </div>
</div>
<div class="tabContentDetails">
    <div class="tabcontent" style="display: block">
        <div class="align-center align-between pb20">
            <h2><b>Permission</b></h2>
        </div>
    </div>
    @(
            Html.Kendo().Grid<PermissionViewModel>().Name("Permissiongrid")

            .ToolBar(t=>t.Search())
            .Editable(editable => editable.Mode(GridEditMode.InLine))

             .Pageable(pageable =>
             {
                 pageable.Refresh(true);
             })

             .NoRecords("No Records Found.")
            .Search(s=>
            {
                s.Field(c => c.View);
                s.Field(c => c.Insert);
                s.Field(c => c.Update);
                s.Field(c => c.Delete);
            })

            .Columns(columns =>
            {
                columns.Select().Width(50);
                columns.Bound(c => c.FormName);
                columns.Bound(p => p.View).ClientTemplate("<input type='checkbox' #= status == true ? checked='checked' : '' # />");
                columns.Bound(p => p.Insert).ClientTemplate("<input type='checkbox' #= status == true ? checked='checked' : '' # />");
                columns.Bound(p => p.Update).ClientTemplate("<input type='checkbox' #= status == true ? checked='checked' : '' # />");
                columns.Bound(p => p.Delete).ClientTemplate("<input type='checkbox' #= status == true ? checked='checked' : '' # />");

                @*columns.Bound(c => c.View);
                columns.Bound(c => c.Insert);
                columns.Bound(c => c.Update);
                columns.Bound(c => c.Delete);*@
            })
            .HtmlAttributes(new { style = "height:400px;width:1300px;" })
            .Sortable()
            .Scrollable()
            .Filterable()
            .DataSource(dataSource => dataSource.Ajax().Model(model => model.Id(p => p.RoleId))
            .Read(read => read.Action("GetAllPermissionJson", "Role", new { Id = ViewBag.RoleId }))
            .PageSize(5))
        )
</div>
<div>@Html.ActionLink("back to list", "Index", "Account")</div>


