@using Kendo.Mvc.UI
@using ITSupportSystem.Core1.ViewModel


@{
    ViewBag.Title = "Index";
}

<div class="section">
    <div class="container">
    </div>
</div>
<div class="tabContentDetails">
    <div class="tabcontent" style="display: block">
        <div class="align-center align-between pb20">
            <h2><b>Permission</b></h2>
        </div>
    </div>

    @(Html.Kendo().Grid<PermissionViewModel>
    ().Name("PermissionGrid")

    .ToolBar(t=>t.Search())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .NoRecords("No Records Found.")
    .Search(s=>
    {
        s.Field(c => c.FormName);
    })
    .Columns(columns =>
    {
        columns.Template(c => { })
        .Title("<b>All Select</b><br/> <input type='checkbox' id='AllCheck' name='all' />")
        .ClientTemplate("<input type='checkbox' class='selectcheckbox' onclick='SelectAll(this)' #=View == true && Insert == true && Update == true &&  Delete == true ? checked='checked' : '' # id='#=FormId#' name='row'/>").Width(80);

        columns.Bound(c => c.FormName);
        columns.Bound(p => p.View).ClientTemplate("<input type='checkbox' class='selectcheckbox' #=View == true ? checked='checked' : '' # id='view_#=FormId#' onclick='CheckValue(this)' />");
        columns.Bound(p => p.Insert).ClientTemplate("<input type='checkbox' class='selectcheckbox' #=Insert == true ? checked='checked' : '' # id='insert_#=FormId#' onclick='CheckValue(this)' />");
        columns.Bound(p => p.Update).ClientTemplate("<input type='checkbox' class='selectcheckbox' #=Update == true ? checked='checked' : '' # id='update_#=FormId#' onclick='CheckValue(this)' />");
        columns.Bound(p => p.Delete).ClientTemplate("<input type='checkbox' class='selectcheckbox' #=Delete == true ? checked='checked' : '' # id='delete_#=FormId#' onclick='CheckValue(this)'/>");
    })
    .HtmlAttributes(new { style = "height:330px;width:1100px;" })
    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource.Ajax().Model(model => model.Id(p => p.RoleId))
    .Read(read => read.Action("GetAllPermissionJson", "Role", new { RoleId = ViewBag.RoleId })))
    )
    <br />
</div>

<div style="text-align:center;">
    <button type=button class="btn btn-success" id="SubmitBtnId" onclick="savepermission()" style="width:200px">Save</button>
</div>



<script>

    @* AllSelect checkbox*@
    $('#AllCheck').click(function ()
    {
        if ($(this).prop('checked') == true)
        {
            $('.selectcheckbox').prop('checked', true);
        }
        else
        {
            $('.selectcheckbox').prop('checked', false);
        }
    });

    function CheckValue(e) {
        var id = e.id.split("_")[1];
        if ($("#view_" + id).prop("checked") == true && $("#insert_" + id).prop("checked") == true && $("#update_" + id).prop("checked") == true && $("#delete_" + id).prop("checked") == true)
        {
            $("#" + id).prop("checked", true);
        }
        else
        {
            $("#" + id).prop("checked", false);
        }
    }
</script>


@*Row wise selected chckbox*@
<script>
    function SelectAll(e) {
        var Id = e.id;
        $(".selectcheckbox").change(function () {
            if ($(".selectcheckbox").length == $(".selectcheckbox:checked").length)
                $("#AllCheck").prop('checked', true);
            else
                $("#AllCheck").prop('checked', false);
        });

        if (e.checked) {
            document.getElementById('view_' + Id).checked = true;
        }
        else {
            document.getElementById('view_' + Id).checked = false;
        }

        if (e.checked) {
            document.getElementById('insert_' + Id).checked = true;
        }
        else {
            document.getElementById('insert_' + Id).checked = false;
        }

        if (e.checked) {
            document.getElementById('update_' + Id).checked = true;
        }
        else {
            document.getElementById('update_' + Id).checked = false;
        }

        if (e.checked) {
            document.getElementById('delete_' + Id).checked = true;
        }
        else {
            document.getElementById('delete_' + Id).checked = false;
        }
    }
</script>


@*add data in database *@
<script>
    function savepermission() {
        var grid = $("#PermissionGrid").data("kendoGrid");
        var ds = grid.dataSource.view();
        if (ds.length > 0) {
            const data = [];
            for (var i = 0; i < ds.length; i++) {
                FormId = ds[i].FormId;
                RoleId = ds[i].RoleId;
                Id = ds[i].Id;
                FormName = ds[i].FormName;
                View = document.getElementById("view_" + FormId).checked;
                Insert = document.getElementById("insert_" + FormId).checked;
                Update = document.getElementById("update_" + FormId).checked;
                Delete = document.getElementById("delete_" + FormId).checked;

                var jsonData = { FormId: FormId, FormName: FormName, RoleId: RoleId, View: View, Insert: Insert, Update: Update, Delete: Delete };
                data.push(jsonData);
            }
            $.ajax({
                type: 'post',
                url: '/Role/UpdatePermission',
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                }
            });
        }
    }

   @* store data in databse and redirect another page*@
    $('#SubmitBtnId').click(function () {
        toastr.success('Permission Saved Successfully...');
             document.location = '@Url.Action("Index","Account")';
     });

</script>




